<section class="page-header">
  <div>
    <h1 class="page-title">Editar menu</h1>
    <p class="page-subtitle"><%= @menu.title %> - <%= ui_date(@menu.menu_date) %></p>
  </div>
</section>

<%= render "form" %>
